<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Project</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div
      class="w-full min-h-screen flex items-center justify-center bg-zinc-700"
    >
      <form
        method="POST"
        action="/register"
        class="bg-white p-6 rounded-2xl shadow-lg w-96 space-y-4"
      >
        <h2 class="text-2xl font-semibold text-center text-zinc-800">
          Create Account
        </h2>

        <input
          class="w-full p-3 border border-zinc-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
          type="text"
          placeholder="Name"
          name="name"
        />

        <input
          class="w-full p-3 border border-zinc-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
          type="text"
          placeholder="Username"
          name="username"
        />

        <input
          class="w-full p-3 border border-zinc-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
          type="number"
          placeholder="Age"
          name="age"
        />

        <input
          class="w-full p-3 border border-zinc-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
          type="email"
          placeholder="Email"
          name="email"
        />

        <input
          class="w-full p-3 border border-zinc-300 rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
          type="password"
          placeholder="Password"
          name="password"
        />

        <button
          class="w-full bg-blue-500 text-white py-3 rounded-lg hover:bg-blue-600 transition duration-200"
        >
          Create Account
        </button>
      </form>
    </div>
  </body>
</html>
